<div class="container-fluid margin-top-20">
  <h3>My-Dashboard </h3>
  <div class="row">
    <div class="card" style="width: 20rem;">
      <h2>Heroes</h2>
      <div *ngFor="let hero of heroes">
        <div class="card-block">
          <h4 class="card-title">{{hero.name}}</h4>
          <!--<img class="card-img-top img-thumbnail" src="http://placehold.it/350x150" alt="Card image cap">-->


          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <a href="#" class="btn btn-primary"  (click)=onSelectHero(hero)>Show Details</a>
        </div>
      </div>
      <hero-detail [hero]="selectedHero"></hero-detail>
    </div>
    <div class="col-md-2">
      <!-- Gap between columns -->
    </div>
    <div class="card" style="width: 20rem;">
      <h2>Spells</h2>
      <div *ngFor="let spell of spells">
        <div class="card-block">
          <h4 class="card-title" > {{spell.name}}</h4>
          <!--<img class="card-img-top img-thumbnail" src="http://placehold.it/350x150" alt="Card image cap">-->


          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <a href="#" class="btn btn-primary" (click)=onSelectSpell(spell)>Show Details</a>
        </div>
      </div>
      <spell-detail [spell]="selectedSpell"></spell-detail>
    </div>
  </div>
  
  

</div>