h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2{
  color:rebeccapurple;
}
.box{
  
  
  background-color:lightcoral;
  color:white;

}

li{
  list-style-type: none;
}

.margin-top-20{
  margin-top: 20px;
}

